/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #e8c858;
  font: 14px Helvetica, Arial, sans-serif;
}

#container {
  position: relative;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#header {
  width: 990px;
  padding: 5px;
  height: 55px;
  background-color: #b08868;
  border: 1px solid;
  border-color: #a82818;
  border-radius: 5px;
}

#label {
  float: left;
  height: 50px;
  padding-left: 5px;
}

#logo {
  float: right;
  height: 50px;
}

#content {
  width: 980px;
  padding: 10px;
}

#sidebar {
  float: left;
  width: 165px;
  background-color: #f0d898;
  border: 1px solid;
  border-color: #a82818;
  border-radius: 5px;
  padding: 20px;
  margin-top: 0px;
}

#topic {
  float: right;
  width: 720px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #a82818;
  border-radius: 5px;
  padding: 20px;
  margin-top: 00px;
}

.clear {
  clear: both;
}

#footer{
  position: relative;
  background-color: #f0d898;
  text-align: center;
  margin-bottom: 1em;
}

h1 { 
  margin-bottom: 1em; 
}
p { 
  margin: 1em 0; 
  text-indent: 1.5em;
}

ul, ol {
  margin-left: 1em;
  margin-bottom: 1em; 
}

a         { color: #a82818; }
a:hover, a:visited:hover   { color: #000000; }
a:visited { color: #b93929; }

.biglink { 
  color: #000000 !important; 
  text-decoration: none !important;
}
.biglink:hover   { color: #000000 !important; }
.biglink:visited { color: #000000 !important; }

.highlight {
  margin-bottom: 1em;
}