<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
%html{ :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title
      :escaped
        {{ page.title }}
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '{{ site.baseurl}}/css/main.css'}
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '{{ site.baseurl}}/css/syntax.css'}
    %script{ :src => 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML', :type => "text/javascript" }
      :escaped
        MathJax.Hub.Config({
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
        });
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  %body
    #container
      #header
        #label
          %a{ :href => "{{ site.baseurl}}/", :class => "biglink"} BioSSA — Tool For Analysis of Gene Expression
        #logo
          %img{ :src => '{{ site.baseurl}}/images/logo.png', :alt => "caterpillar"}
        .clear
      #content
        #sidebar
          %ul
            %li
              %a{ :href => "{{ site.baseurl}}/main.html"}About bioSSA package
            %li
              %a{ :href => "{{ site.baseurl}}/example.html"}Example of analysis of gene expression
            %li
              %a{ :href => "{{ site.baseurl}}/codefrag.html"}Fragments of code in R
            %li
              %a{ :href => "{{ site.baseurl}}/theory.html"}Brief review of theory 
            %li
              %a{ :href => "{{ site.baseurl}}/about.html"}About bioSSA team
        #topic
          = '{{ content }}'
        .clear
      #footer BioSSA team
      .clear