<!DOCTYPE html>
%html
  %head
    %title
      :escaped
        {{ page.title }}
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/main.css'}
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/syntax.css'}
    %meta{ :charset => 'UTF-8'}
  %body
    #container
      #header
        #label
          %h1
            %a{ :href => ".", :class => "biglink"} BioSSA
        #logo
          %img(src = 'logo.png' alt = "caterpillar")
        .clear
      #content
        #sidebar
          %ul
            %li
              %a{ :href => "markdown.html"}Markdown example
            %li
              %a{ :href => "code.html"}Code example
            %li
              %a{ :href => "tex.html"}TeX example
        #topic
          = '{{ content }}'
        .clear
      #footer BioSSA team
      .clear