<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>
      {{ page.title }}
    </title>
    <link href='css/main.css' rel='stylesheet' type='text/css' />
    <link href='css/syntax.css' rel='stylesheet' type='text/css' />
    <script src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML' type='text/javascript'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <div id='label'>
          <h1>
            <a class='biglink' href='.'>BioSSA</a>
          </h1>
        </div>
        <div id='logo'>
          <img alt='caterpillar' src='logo.png' />
        </div>
        <div class='clear'></div>
      </div>
      <div id='content'>
        <div id='sidebar'>
          <ul>
            <li>
              <a href='markdown.html'>Markdown example</a>
            </li>
            <li>
              <a href='code.html'>Code example</a>
            </li>
            <li>
              <a href='tex.html'>TeX example</a>
            </li>
          </ul>
        </div>
        <div id='topic'>
          {{ content }}
        </div>
        <div class='clear'></div>
      </div>
      <div id='footer'>BioSSA team</div>
      <div class='clear'></div>
    </div>
  </body>
</html>
